body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #77f8f2;
user-select: none;
}

.container{
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
box-sizing: border-box;
background: linear-gradient(0deg,
#000000d6 0%,
#0297a1 35%,
#223434 60%,
#000000e1 75%
);
padding: 40px 60px;
}

h2{
font-size: 3em;
color: #ffffff;
text-transform: uppercase;
letter-spacing: 0.1em;
white-space: nowrap
}

.reset{
padding: 10px 15px;
width: 100%;
color: #000;
background-color: #ffffffbe;
border: none;
font-size: 1.5em;
letter-spacing: 0.1em;
text-transform:uppercase;
cursor: pointer;
font-weight: 600;
}

.reset:focus {
    color:#ffffff;
    background-color:#000;
}

.game{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style:
    preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000078;

    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after{
    content:"";
    position: absolute;
    inset: 0;
    background:#2df8fb;
    transition: 0.25s;
    transform:rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxopen {
    transform: rotateY(0deg);
}

.boxopen::after,
.boxmatch::after{
    transform: rotateY(180deg);
}